@font-face {
    font-family: dm;
    src: url(./DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: Neuton ;
    src: url(./Neuton-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Neuton ;
    src: url(./Neuton-ExtraBold.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Neuton ;
    src: url(./Neuton-ExtraLight.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Neuton ;
    src: url(./Neuton-Light.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Neuton ;
    src: url(./Neuton-Regular.ttf);
    font-weight: 500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
   background-color: #F5F3EA; 
   overflow-x: hidden;
   position: relative;
}
#page1{
    min-height: 100vh;
    width: 100vw;
    position: relative;
}
#nav{
    width: 100vw;
    height: 90px;
    /* background-color: rgb(188, 188, 26); */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 107px;
    padding: 0 190px;
    

}
#navpart-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
}
#navpart-3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#navpart-2 h4{
    font-family: dm;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    /* transition: all ease 0.4s; */
}
#navpart-2 h4:hover{
    color: #FF5858;
}
#navpart-3 h4{
    font-family: dm ;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
#navpart-3 h4:nth-child(2){
    color: #FF5858;
    /* transition: all ease 0.4s; */
}
#navpart-3 h4:nth-child(3){
    background-color: black;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
}
#navpart-3 h4:nth-child(2):hover{
    color: black;
}
#nav h1{
    font-family: Neuton;
    padding-bottom: 13px;
    cursor: pointer;

}
#nav h1 span{
    color: #FF5858;
    font-size: 43px;
    letter-spacing: -4px;
   cursor: pointer;
}
#center{
    text-align: center;
    /* background-color: #cdad1b; */
    margin-top: 65px;
}
#center h1{
    font-family: Neuton;
    font-size: 72px;
    line-height: 86.4px;
}
#center h1:nth-child(1){
    color: #FF5858;
}
#center p{
    font-family: dm;
    line-height: 27px;
    font-size: 18px;
    padding-top: 30px;
}
#page1 img{
    width: 85vw;
   margin-left: 7.5vw;
   margin-top: 60px;
   height: 115vh;
   border-bottom: 1px solid black;
}
#page2{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    text-align: center;
    margin-top: 7%;
}
#page2 h1{
    font-size: 50px;
    font-family: Neuton;
    color: #151B31;
    letter-spacing: 1.14px;
}
#page2 p{
    margin-top: 1.5%;
    font-family: dm;
    color: #8D8D90;
    font-size:16px;
    line-height: 24px;
}
#page2 #center{
    height: 150vh;
    width: 100vw;
    /* background-color: #FF5858; */
    display: flex;
    flex-wrap: wrap;
   gap: 60px;
    justify-content: center;
    overflow: hidden;
    
}
.elem{
    height: 500px;
        width: 400px;
    /* background-color: #FFB07B; */
    padding-top: 0.4%;
    border-radius: 6px;
    transition: all ease 0.3s;
    cursor: pointer;
    position: relative;
   
}
/* .elem i{
  
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    display: none;
} */
/* .elem:hover i{
    display: block;
} */
.elem img{
    height: 85%;
    width: 97%;
    border: 1px solid #151B31;
    border-radius: 5px;
    box-shadow: 1px 1px 0 1px #151B31 ;
}
.elem h2{
    padding-top: 10px;
    font-family: Neuton;
    font-size: 32px;
}
.elem:hover{
    background-color: #FFB07B;

}
.elem:hover img{
    filter: grayscale(1);
}
 #page1 #b{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 16%;
    left: 10%;
    border: none;
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   

 }
 #page1 #c{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5%;
    left: 26%;
    border: none;
    animation-name: move1 ;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
 }
 #page1 #d{
    height: 190px;
    width: 100px;   
    position: absolute;
    top: 23%;
    left: 18%;
    border: none;
    animation-name: move2 ;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
 }
 #page1 #e{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10%;
    left: 63%;
    border: none;
    animation-name: move1 ;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   

 }
 #page1 #f{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 28%;
    left: 75%;
    border: none;
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
 }
 @keyframes move {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(60%);
    }
    100%{
        transform: translateY(0);
    }
    
 }
 @keyframes move1 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-70%);
    }
    100%{
        transform: translateY(0);
    }
    
    
 }
 @keyframes move2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25%);
    }
    100%{
        transform: translateY(0);
    }
    
    
 }
 #page1 #menu{
    font-size: 18px;
    display: none;
 }
 @media (max-width: 600px) {
   #nav{
    justify-content: space-between;
    padding: 0 30px;
   }
 
    #page1 #menu{
        display: block;
    }
    #navpart-3 {
        display: none;
    }
    #navpart-2 {
        display: none;
    }
    #page1 img{
        height: 70vh;
        width: 100vw;
        margin-left: 0;
    }
    #page2 h1{
        margin-top: 60px;
    }
    
 }
 #page3{
    min-height: 80vh;
    width: 100vw;
    text-align: center;
   padding-top: 120px;
   position: relative;
 }
 #page3 h1{
    font-size: 50px;
    font-family: neuton;
    color:#151B31;
    letter-spacing: 1.14px;
 }
 #page3 p{
    font-size: 16px;
    font-family: dm;
    line-height: 24px;
    color: #8D8D90;
    padding-top: 20px;
 }
 #page3 #center{
    height: 40vh;
    width: 100vw;
    /* background-color: #FF5858; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
 }
 #center .e{
    height: 100px;
    width: 500px;
    /* background-color: aqua; */
   margin: 0 60px;
   
 }
 #center #menu{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
   
    
 }
.e #menu h2{
    font-size: 22px;
    letter-spacing: 1.14px;
   
    font-family: neuton;
   padding: 20px 0;
    
 }
 #center .e #menu h2:nth-child(1){
    color: #151B31;
 }
#center .e #menu h2:nth-child(2){
    color:#8D8D90;
 }

 #bar{
    height: 15px;
    width: 100%;
    background-color: #fff;
   border-radius: 10px;
   overflow: hidden;
 }
   #bar .fill{
    background-color: #151B31;
    height: 100%;
    border-radius: 10px;
   
    
   }
  #fill1{
    width: 95%;
   
 }
  #fill2{
    width: 92%;
 }
  #fill3{
    width: 97%;
 }
  #fill4{
    width: 88%;
 }
 #page4{
    min-height: 100vh ;
    width: 100vw;
    background-color: #151B31;
    position: relative;
 }
 #page4 h1{
    font-size: 50px;
    color: #fff;
    font-family: neuton;
    letter-spacing: 1.14px;
    text-align: center;
   padding-top: 100px;
 }
 #middle{
    height: 100vh;
    width: 100vw;
    /* background-color: #FF5858; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
 }
 #middle .el{
    height: 280px;
    width: 250px;
    /* background-color: aqua; */
   margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 10px;
    text-align: center;
 }
 .featureicon{
    width: 50px;
    height: 50px;
    color: #151b31;
    background-color: #f5f3ea;
    border: 1px solid #151b31;
    border-radius: 4px;
    font-family: "Fa solid 900", sans-serif;
    font-size: 20px;
    display: flex;
    box-shadow: 2px 2px #fff;
    align-items: center;
    justify-content: center;
 }
 .el h2{
    color: #fff;
    font-family: neuton;
    font-size: 22px;
    letter-spacing: 1.14px;
 }
 .el p{
   color:  #fff;
    font-family: dm;
    font-size: 16px;
    line-height: 24px;
 }
 #page5{
    min-height: 200vh;
    width: 100vw;
    position: relative;
    text-align: center;
    margin-top: 100px ;
 }
 #page5 h1{
    font-family: neuton;
    font-size: 50px;
    letter-spacing: 1.14px;
    color: #151b31;
 }
 #page5 p{
    font-family: dm;
    font-size: 16px;
    line-height: 24px;
    color: #8D8D90;
    padding: 20px;
 }
 #mid{
    height: 250vh;
    width: 100vw;
    /* background-color: #FF5858; */
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 30px ;
 }
 .ele{
    height: 400px;
        width: 300px;
    /* background-color: #FFB07B; */
    padding-top: 0.4%;
    border-radius: 6px;
    transition: all ease 0.3s;
    cursor: pointer;
    position: relative;
  
 }
 .ele i{
  
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    display: none;
}
.ele:hover i{
    display: block;
}
.ele img{
    height: 85%;
    width: 97%;
    border: 1px solid #151B31;
    border-radius: 5px;
    box-shadow: 1px 1px 0 1px #151B31 ;
}
.ele h2{
    /* padding-top: 10px; */
    font-family: Neuton;
    font-size: 24px;
    letter-spacing: 1.14px;
}
.ele:hover{
    background-color: #FFB07B;

}
.ele:hover img{
    filter: grayscale(1);
}
#page6{
    min-height: 108vh;
    width: 100vw;
}
#box{
    height: 30vh;
    width: 90vw;
    background-color: #151B31;
   margin-left: 5vw;
   margin-top: 25vh;
   background-image: url(https://assets.website-files.com/63be6b95d526b7b72dcb1d66/63be6b95d526b70600cb1d88_Frame%2047.png);
   background-repeat: no-repeat;
  background-position-y: center;
  padding: 80px 0;
  display: flex;
  justify-content: space-evenly;
}
#box1 #r{
    font-size: 38px;
    letter-spacing: 1.14px;
    color: #fff;
    font-family: neuton;
}
#box1 p{
    font-family: dm;
    font-size: 16px;
    color: #8D8D90;
    text-align: start;
    
}
#box button{
    background-color: #FF5858;
    color: #fff;
    padding: 0 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
   transition: all ease 0.5s;
  
}
#box button:hover{
    background-color: #151b31;
    color: #FF5858;
    border: 2px dotted rgb(253, 249, 26);
}
#box2{
    height: 25vh;
    width: 70vw;
    background-color: #BDF0DF;
   margin: 10vh 15vw;
   background-image: url(https://assets.website-files.com/63be6b95d526b7b72dcb1d66/63c116849999d9110a3f169f_sending-message%404x.png);
   background-repeat: no-repeat;
   background-size: 50px;
   background-position: 84.5% 31%;
   text-align: center;
   padding: 30px 0;
   border: 1px solid #151B31;
   border-radius: 4px;
   box-shadow: 2px 2px #151B31;
}
#box2 h2{
    font-size: 50px;
    letter-spacing: 1.14px;
    font-family: neuton;

}
#box2 input{
    height: 40px;
    width: 350px;
   margin: 10px 0;
   border-radius: 5px;
   border: 1px solid black;
   padding: 5px 10px;
}
#box2 button{
    background-color: #FF5858;
    color: #fff;
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
   transition: all ease 0.5s;
   margin-left: 4px;
}
#box2 button:hover{
    background-color: transparent;
    color: #FF5858;
    border: 2px dotted rgb(253, 249, 26);
}
#footer{
    height: 15vh;
    width: 100vw;
    /* background-color: #FFB07B; */
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding: 0 200px;
   
}
#footer h1{
    font-size: 40px;
    font-family: neuton;
    color: #151B31;
}
#footer h1 span{
    color: #FF5858;
    font-size: 43px;
    letter-spacing: -4px;
   cursor: pointer;
}
#footer #elements{
    display: flex;
    align-items: center;
    gap: 40px;
}
#footer #elements h4{
    font-family: dm;
    font-size: 20px;
    color: #313133;
    font-weight: 500;

}
#icon{
    display: flex;
    gap: 20px;
}

.icon{
    width: 50px;
    height: 50px;
    border: 1px solid #151b31;
    border-radius: 4px;
    font-family: "Fa solid 900", sans-serif;
    font-size: 30px;
    display: flex;
    box-shadow: 2px 2px #151B31;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease 0.5s;
   
}
#icon1{
    color: #fff ;
background-color: #BDF0DF;
}
#icon1:hover{
    background-color: #FFB07B;
}
#icon2{
    color: #fff ;
background-color: #FFB07B;
}
#icon2:hover{
    background-color: #BDF0DF;
}
#icon3{
    color: #fff ;
background-color: #FF5858;
}
#icon3:hover{
    background-color: #FFB07B;
}
#last p{
     
    font-family: dm;
    color: #8D8D90;
    /* padding: 30px 0; */
   
}
#last span{
    color: #FF5858;
}